@CHARSET "UTF-8";

.banner-about-me {
	width: 100%;
	height: 100%;
}

.banner-mask-about-me {
	height: 100%;
	background-color: #EDEDDC;
	top: 100px;
	bottom: 0px;
}

.banner-readme-about-me {
	position: relative;
	display: block;
	font-size: 24px;
	color: #655F4B;
	background: transparent;
	top: 30%;
}

.banner-readme-about-me>.readme-hi {
	font-size: 40px;
	color: #251F12;
	line-height: 80px;
}

.time-line {
	height: 64px;
	width: 100%;
	position: absolute;
	z-index: 100;
	margin-top: -32px;
}

.time-line>.container {
	height: 100%;
	position: relative;
}

.line-node {
	height: 64px;
	width: 64px;
	background-color: white;
	border-width: 4px;
	border-style: solid;
	border-color: #38B6C7;
	border-radius: 64px;
	font-family: 'Open Sans';
	color: #FF5250;
	font-weight: bold;
	font-size: 20px;
	line-height: 56px;
}

.birth {
	position: absolute;
	left: 15px;
}

.now {
	position: absolute;
	right: 15px;
}

.time-line-bar {
	margin-top: 29px;
	height: 6px;
	background-color: #FF5250;
}

.milestone-bar {
	position: relative;
	margin-left: 64px;
	margin-right: 64px;
}

.time-line-node {
	position: absolute;
	height: 16px;
	width: 16px;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: #38B6C7;
	border-radius: 16px;
	margin-top: -5px;
	text-indent: -9999px;
}

.time-nodes {
	-webkit-padding-start: 0px;
	list-style: none;
}

.time-node {
	position: absolute;
	top: -52px;
	height: 32px;
}

.time-nodes li .caption {
	padding: 10px;
	width: 200px;
	background: #333;
	position: absolute;
	z-index: 500;
	display: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07);
	text-align: left;
}

.time-nodes li .caption h4 {
	font-weight: bold;
	margin: 0 0 5px 0;
	font-size: 20px;
	text-align: left;
	color: #fff;
}

.time-nodes li .caption p {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	text-shadow: none;
	margin: 0px;
}

.time-nodes li .caption .arrow {
	border-color: #333 transparent transparent transparent;
	border-style: solid;
	border-width: 5px;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -10px;
	left: 10px;
}

.time-nodes li.top .caption {
	top: -30px;
	left: -7px;
	padding-bottom: 10px;
}

.time-nodes li .caption .date {
	display: none;
}

.time-nodes li .caption h4 span {
	color: #999;
}

/* time line icons begin */


.time-node>[class^="icon-"],.time-node>[class*="icon-"]{
	font-size: 32px;
}

.icon-pennon::before {
	content: "\e604";
	color: #38B6C7;
	
}

.icon-music::before {
	content: "\e60a";
	color: #38B6C7;
}

.icon-gem::before {
	content: "\e610";
	color: #38B6C7;
}

.icon-blue-star::before {
	content: "\e60f";
	color: #38B6C7;
}

.icon-red-star::before {
	content: "\e60f";
	color: #FF5350;
}

.icon-compass::before {
	content: "\e614";
	color: #FF5350;
}

.icon-person::before {
	content: "\e609";
	color: #38B6C7;
}

.icon-power::before {
	content: "\e616";
	color: #38B6C7;
}

/* time line icons end */
/* Responsive Part - Phones */
@media ( max-width : 767px) {
	.banner-readme-about-me {
		top: 23%;
		font-size: 18px;
	}
	.banner-readme-about-me>.readme-hi {
		font-size: 30px;
	}
	.time-line{
		display: none;
	}
}

.banner-readme-about-me span.banner-readme-name {
	color: #002754;
}

.banner-readme-about-me span.banner-readme-job {
	color: #FF5250;
}