@CHARSET "UTF-8";
html{
 	height: 100%;
}
body{
 	height: 100%;
 	font-family: 'Open Sans', 'Heiti SC', '黑体-简', 'Microsoft Yahei', '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 
body{
	font-size: 20px;
	line-height: 32px;
}

html { margin-top: 0px !important; }
* html body { margin-top: 0px !important; }
@media screen and ( max-width: 782px ) {
html { margin-top: 0px !important; }
* html body { margin-top: 0px !important; }
}

.rounded{
	border-radius: 4px;
}

a:hover{
	text-decoration: none;
}

/* 只对大小做过渡 */
.csstransitions * {
	/*
    -webkit-transition: width .3s, height .3s;
    -moz-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    -ms-transition: width .3s, height .3s;
    transition: width .3s, height .3s;
    */
}

/* 取消过渡*/
.csstransitions-none {
    -webkit-transition: width .0s, height .0s;
    -moz-transition: width .0s, height .0s;
    -o-transition: width .0s, height .0s;
    -ms-transition: width .0s, height .0s;
    transition: width .0s, height .0s;
}

/* 图标字体 */
@font-face {
	font-family: 'bargetor-website-icon';
	src:
		url(../fonts/bargetor-website-icon.eot?#iefix)
		format("embedded-opentype"),
		url(../fonts/bargetor-website-icon.woff)
		format("woff"),
		url(../fonts/bargetor-website-icon.ttf)
		format("truetype"),
		url(../fonts/bargetor-website-icon.svg#octicons)
		format("svg");
	font-weight: normal;
	font-style: normal
}

[class^="icon-"], [class*=" icon-"]{
	font-family: 'bargetor-website-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}