@CHARSET "UTF-8";

[class^="contact-"], [class*="contact-"]{
	font-size: 64px;
	color: #B6A36F;
	position: relative;
	display: inline-block;
	text-align: center;
}




.footer {
	position: relative;
	height: 200px;
	width: auto;
	background-color: #F7F7EE;
	border-color: transparent;
	padding-top: 45px;
}

.contactdiv {
	max-width: 370px;
	height: 64px;
}


.icon-contact-github::before{
	content: "\e602";
}

.icon-contact-email::before{
	content: "\e600";
}

.icon-contact-qq::before{
	content: "\e601";
}

.icon-contact-weibo::before{
	content: "\e603";
}


div.contactdiv .row>div>a {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

div.contactdiv>.row>div>a:hover {
	-webkit-transform: translate(0, -20px);
	-moz-transform: translate(0, -20px);
	-o-transform: translate(0, -20px);
	-ms-transform: translate(0, -20px);
	transform: translate(0, -20px);
}

a.contact-QQ:hover {
	/*background-position: left bottom;*/
}

.footer p {
	padding-top: 50px;
	font-size: 13px;
	color: #251F12;
	text-align: center;
}

@media ( min-width : 992px) {
	.contactdiv {
		max-width: 540px;
	}
}

/* Responsive Part - Tablets */
@media ( max-width : 991px) and (min-width: 768px) {
	.contactdiv {
		max-width: 440px;
	}
}

@media (max-width : 767px){
	.footer{
		padding-top: 62px;
	}
	
	.contactdiv{
		height: 32px;
	}
	
	[class^="contact-"], [class*="contact-"]{
		font-size: 32px;
	}	
	
}